ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 96px 0;
}
button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}

/*========  HEADER MOBILE STYLES ========= */
.menu {
  display: none;
}
.contact-list {
  display: none;
}
.logotype {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logotype-span {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*========  /HEADER MOBILE STYLES ========= */
/*========  SECTION MAIN STYLES ========= */
.main {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 120px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/images-hw/backround-mobile.jpg);
  background-size: cover;
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  max-width: 288px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  margin: 0 auto;
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background: #404bbf;
  color: #ffffff;
}
/*========  /SECTION MAIN STYLES ========= */

/*========  SECTION OPTIONS STYLES ========= */
.wrapper-heroy-section {
  display: none;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.subtitle-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 288px;
}

/*========  SECTION OUR TEAM STYLES ========= */
.container-option {
  background-color: #f4f4fd;
}
.headline {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.container-items {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.container-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.container-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.content-our-team {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.list-our-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.items-our-team {
  width: 40px;
  height: 40px;
}
.link-our-team {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-our-team:hover,
.link-our-team:focus {
  background-color: #404bbf;
}
.icon-our-team {
  fill: #f4f4fd;
}
/*========  /SECTION OUR TEAM STYLES ========= */

/*========  SECTION PORTFOLIO STYLES ========= */
.box-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.box-list {
  display: flex;
  width: 288px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}
.box-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.box-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.box-subtitle-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.box-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-list-item:hover .text-overlay {
  transform: translateY(0%);
}
/*========  /SECTION PORTFOLIO STYLES ========= */

/*========  SECTION FOOTER STYLES ========= */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-link {
  display: inline-block;
  height: 24px;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-align: center;
  width: 100%;
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  width: 288px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-text-ul {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-link-content {
  margin-bottom: 72px;
}
.list-footer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}
.items-footer {
  width: 40px;
  height: 40px;
}
.link-footer-items {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-footer {
  fill: #f4f4fd;
}
.link-footer-items:hover,
.link-footer-items:focus {
  background-color: #31d0aa;
}
.again-footer {
  margin-bottom: 72px;
}
.form-input {
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 288px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  opacity: 0.3;
}
.form-input::placeholder {
  color: #ffffff;
  font-weight: 400;
}
.input-footer {
  text-align: center;
} 
.button-footer {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
}

.button-icon {
  margin-left: 16px;
}
/*========  /SECTION FOOTER STYLES ========= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus  {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}
.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.review-form-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.review-form-wrapper {
  margin-bottom: 8px;
}
.review-form-wrapper-textaria {
  margin-bottom: 16px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.review-form-input:focus {
  border-color: #4d5ae5;
  outline-offset: 4px;
}
.review-form-input:focus + .review-form-icon {
  fill: #4d5ae5;
}

.review-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input-wrapper {
  position: relative;
}
.review-form-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.review-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-textarea:focus {
  border-color: #4d5ae5;

  outline-offset: 4px;
}
.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}
.review-form-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  margin: 0 auto;
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
@media screen and (min-resolution: 192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px),
screen and (min-device-pexel-ratio: 2) and (max-width:767px) {
  .main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-hw/backround-mobile@2x.jpg);
  }

}

@media screen and (max-width: 767px) {
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-open-btn-icon {
    fill: #2f2f37;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #f4f4fd;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-modal {
    position: relative;
  }
  .mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

 
  .mobile-close-btn:hover,
  .mobile-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }
  .mobile-close-btn:hover .mobile-close-btn-icon,
  .mobile-close-btn:focus .mobile-close-btn-icon {
    fill: #ffffff;
  }
  .mobile-close-btn-icon {
    fill: #2e2f42;
  }

  .mobile-menu-list {
    margin-top: 72px;
    margin-left: 16px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .mobile-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }
  .link-mobile {
    color: #404bbf;
  }
  .mobile-contact-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 168px;
  }
  .mobile-contact-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .mobile-contact-link:hover,
  .mobile-contact-link:focus {
    color: #4d5ae5;
  }
  .mobile-socials-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 48px;
  }
  .mobile-socials-item {
    width: 40px;
    height: 40px;
  }
  .mobile-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /*========  HEADER TABLET STYLES ========= */
  .logotype {
    margin-right: 120px;
  }
  .contact-list {
    display: inline-block;
  }
  .mobile-menu {
    display: none;
  }
  .mobile-open-btn {
    display: none;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .link-header {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-header::after {
    content: "";
    left: 0;
    bottom: -1px;
    position: absolute;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
  }
  .contact {
    font-style: normal;
  }
  .contact-link {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  /*========  /HEADER TABLET STYLES ========= */

  /*========  SECTION MAIN TABLET STYLES ========= */
  .main {
    padding-top: 112px;
    padding-bottom: 120px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-hw/backround-tablet.jpg);
    max-width: 768px;
  }
  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin: 0 auto;
    margin-bottom: 36px;
    text-transform: none;
  }
  /*========  /SECTION MAIN TABLET STYLES ========= */

  /*========= SECTION OPTION TABLET STYLES =========*/
  .list {
    gap: 72px 24px;
  }
  .subtitle {
    text-align: start;
  }
  .subtitle-text {
    width: 356px;
  }

  /*========= /SECTION OPTION TABLET STYLES =========*/
  /*========  SECTION OUR TEAM TABLET STYLES ========= */
  .container-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  /*========  /SECTION OUR TEAM TABLET STYLES ========= */
  /*========  SECTION PORTFOLIO TABLET STYLES ========= */
  .box-list {
    flex-wrap: wrap;
    width: 736px;
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
  .box-list-item {
    width: calc((100% - 24px) / 2);
  }

  /*========  /SECTION PORTFOLIO TABLET STYLES ========= */
  /*========  SECTION FOOTER TABLET STYLES ========= */
  .footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 584px;
  }
  .footer-link-content {
    margin-bottom: 0;
  }
  .again-footer {
    margin-bottom: 0;
  }
  .footer-link {
    display: inline-block;
    width: 115px;
    height: 24px;
    margin-bottom: 16px;
  }
  .footer-content {
    margin-left: 108px;
  } 
  .footer-text-ul {
    text-align: start;
  }
  .input-footer {
    display: flex;
    gap: 24px;
  } 
  .form-input {
    width: 264px;
  }
  .button-footer {
    margin-top: 0;
  }
  .footer-text {
    width: 264px;
  }

  /*========  /SECTION FOOTER TABLET STYLES ========= */

  /*========  /SECTION BACKDROUP TABLET STYLES ========= */
  .modal {
    width: 408px;
  }

  /*========  /SECTION BACKDROUP TABLET STYLES ========= */
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pexel-ratio: 2) and (min-width: 768px) {
  .main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-hw/backround-tablet.@2x.jpg);
  }

}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .logotype {
    margin-right: 76px;
  }
  .contact-list {
    display: flex;
    gap: 40px;
  }
  .contact-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*========  SECTION MAIN DESKTOP STYLES ========= */
  .main {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-hw/backround-desktop.jpg);
    max-width: 1440px;
  }
  .main-title {
    margin-bottom: 48px;
  }
  /*========  /SECTION MAIN  DESKTOP STYLES ========= */
  /*========= SECTION OPTION DESKTOP STYLES =========*/
  .list {
    flex-wrap: nowrap;
  }
  .wrapper-heroy-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }
  .subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .subtitle-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
  }
  /*========= SECTION OPTION DESKTOP STYLES =========*/
  /*========= SECTION OUR TEAM STYLES =========*/
  .container-list {
  flex-wrap: nowrap;
  }
  /*========= /SECTION OUR TEAM STYLES =========*/
  /*========= SECTION PORTFOLIO STYLES =========*/
  .box-list {
    width: 1126px;
    row-gap: 48px;
  }
  .box-list-item {
    width: calc((100% - 48px) / 3);
  }
  /*========= /SECTION PORTFOLIO STYLES =========*/
  /*========= SECTION FOOTER STYLES =========*/
  .input-container {
    margin-left: 80px;
  }
  .footer-link-content {
    margin-right: 120px;
  }
  .footer-content {
    flex-wrap: nowrap;
    margin-left: auto;
    column-gap: 0;
  } 
  /*========= SECTION /FOOTER STYLES =========*/

  /*========  SECTION BACKDROUP DESKTOP STYLES ========= */

  /*========  /SECTION BACKDROUP DESTOP STYLES ========= */
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pexel-ratio: 2) and (min-width: 1158px) {
  .main {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images-hw/backround-desktop@2x.jpg);
  }

}
